
@{
    ViewData["Title"] = "SearchBar";
}

<div class="form-group">
    @using (Html.BeginForm("Keyword", "Search", FormMethod.Get))
    {
        <label class="form-control-static text-center center-block">Enter Keyword</label>
        <input type="text" name="searchTerm" class="form-control" />
        <input type="submit" value="Search" class="form-control" />
    }
</div>