@using BucketListSite.Models

@model UserListViewModel

@{
    ViewData["Title"] = "Search";
}

<partial name="SearchBar"/>

<h2 class="text-center">Results</h2>

<table class="table">
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <a asp-action="ViewUser" asp-route-id="@user.Id">@user.UserName</a>
                </td>
            </tr>
        }
    </tbody>
</table>