@using BucketListSite.Models

@model FeedViewModel

@{
    ViewData["Title"] = "Feed";
}

<h2>Feed</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userEvent in Model.Events)
        {
            <tr>
                <td>
                   @userEvent.Title
                </td>
                <td>
                    @userEvent.Time.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>