<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.codygordon.acebucketlist" android:installLocation="auto" android:versionName="2.0" android:versionCode="5">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Ace Bucket List" android:icon="@mipmap/acebucketlist_logo_mdpi"></application>
</manifest>